{% extends "base.html" %}
{% block title %} CRUD SUR LES FILMS {% endblock %}
{% block body %}
<h1>Comme la table Books est une table qui est "extérieure" à la table intermédiaire</h1>
<p>Les actions CRUD (Create Read Update Delete) sont identiques avec un peu plus d'attributs</p>
<br>
<p>En conséquence je ne voulais pas tout faire "pour vous" !!!</p>
<p>Cela va vous permettre de réaliser que vous êtes capable de rendre fonctionnel votre projet pour ce module 104.</p>



Pour l'exercice que vous devez me rendre après les vacances de Pâques.
Il faut que mon code soit adapté à votre base de données.
Au minimum sur deux tables qui sont liées par une table intermédiaire.
Mais ne pas toucher aux tables intermédiaires, vu que je vais vous imposer une gestion avec du javascript.

Bon travail et courage pour cette situation complétement hallucinante.
{% endblock %}

