{% extends "base.html" %}
{% block title %} Afficher BOOKS {% endblock %}
{% block body %}
    <div class="home">
        
        <form method="POST" action="">

        <div>
            {{ msgHtml }}
        </div>
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Isbn</th>
                    <th>Titre</th>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Publieur</th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_Books }}</td>
                    <td>{{ row.nom_film }}</td>
                    <td>{{ row.Isbn_Books|default("", True) }}</td>
                    <td>{{ row.Titre_Book|default("", True) }}</td>
                    <td><img src={{ row.cover_link_film|default("", True) }} style="width:auto;max-height: 465px;" alt = "Covid-19 grand semi-confinement mod 104"></td>
                    <td>{{ row.Country_ Books|default("", True) }}</td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Edit</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Delete</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Add</a> </td>
                </tr>
            {% endfor %}
        </table>
        </form>
        
    </div>
{% endblock %}